<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update</title>
</head>
<body>
<h2>Edit user</h2>
<div>
    <form th:action="@{/update}" method="post" th:object="${editUser}">
        <input type="hidden" name="id" th:value="${editUser.id}">
        <fieldset>
            <legend>Edit user</legend>

            <p>
                <label for="name">Name</label>
                <input type="text" th:field="*{name}" id="name" th:value="${editUser.name}">
            </p>

            <p>
                <label for="surname">Surname</label>
                <input type="text" th:field="*{surname}" id="surname" th:value="${editUser.surname}">
            </p>

            <p>
                <label for="department">Department</label>
                <input type="text" th:field="*{department}" id="department" th:value="${editUser.department}">
            </p>

            <p>
                <label for="salary">Salary</label>
                <input type="text" th:field="*{salary}" id="salary" th:value="${editUser.salary}">
            </p>

            <p>
                <label for="password">Password</label>
                <input type="text" th:field="*{password}" id="password" th:value="${editUser.password}">
            </p>

            <p>
                <select id="roles" name="roles" multiple size="2" required>
                    <option th:each="role : ${allRoles}"
                            th:value="${role}" th:text="${role.role}"></option>
                </select>
            </p>
        </fieldset>
        <input type="submit" value="Update">
    </form>
</div>
<p><a th:href="@{/user}"> User information </a></p>
<p><a th:href="@{/logout}"> Logout </a></p>
</body>
</html>